{% extends 'base.html' %}

{% comment %} {% block content %}
<h2>Password reset</h2>
<p>
    Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
<p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
</form>
{% endblock content %} {% endcomment %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm" style="width: 400px;">
        <div class="card-body">
            <h4 class="fw-bold">Find your account</h4>
            <hr>
            <p class="text-muted">
                Please enter your email or mobile number to search for your account.
            </p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary px-4">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}