{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="d-flex justify-content-center mt-4">
    <div class="card shadow-sm" style="width: 40%;">
        <div class="card-header bg-info">
            <h5 class="fw-bold mb-1">Update Post</h5>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Click to Delete">
            </form>
        </div>
    </div>
</div>

{% endblock content %}
