{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- <h1>Posts</h1> -->

{% comment %} <ul>
    {% for post in posts %}
        <a href="{% url 'post' post.pk %}">
            <li>{{post.author}}, {{post.date_time}}, {{ post}}</li>
        </a>
    {% endfor %}
</ul> {% endcomment %}
<div class="container mt-4">
    {% for post in posts %}
        <a href="{% url 'post' post.pk %}" class="d-flex justify-content-center mt-4 text-decoration-none">
            <div class="card shadow-sm" style="width: 40%;">
                <div class="card-body">
                    <h5 class="fw-bold mb-1">{{ post.author }}</h5>
                    <p class="text-muted small mb-3">{{ post.date_time }}</p>
                    <p class="text-dark small">{{ post.text }}</p> <!-- Added 'small' class to make text smaller -->
                </div>
                {% if post.img %}
                    <img src="{% static 'snp/images/' %}{{ post.img }}" class="card-img-bottom" alt="Cover Image">
                {% endif %}
            </div>
        </a>
    {% endfor %}
</div>

{% endblock content %}