{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="d-flex justify-content-center mt-4">
    <div class="card shadow-sm" style="width: 40%;">
        <div class="card-header bg-info">
            <h5 class="fw-bold mb-1">Update User</h5>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="filedWrapper">
                    {{ field.errors }}
                    <h5 class="card-text">Mobile</h5>
                    {{ form.mobile}}
                </div>
                <div class="filedWrapper">
                    {{ field.errors }}
                    <h5 class="card-text">Email</h5>
                    {{ form.email}}
                </div>
                <div class="filedWrapper">
                    {{ field.errors }}
                    <h5 class="card-text">Avatar</h5>
                    {{ form.avatar}}
                </div>
                <div class="filedWrapper">
                    {{ field.errors }}
                    <h5 class="card-text">First Name</h5>
                    {{ form.first_name}}
                </div>
                <div class="filedWrapper">
                    {{ field.errors }}
                    <h5 class="card-text">Last Name</h5>
                    {{ form.last_name}}
                </div>
                <div class="filedWrapper">
                    {{ field.errors }}
                    <h5 class="card-text">Date of Birth</h5>
                    {{ form.dob}}
                </div>
                <div class="filedWrapper">
                    {{ field.errors }}
                    <h5 class="card-text">Gender</h5>
                    {{ form.gender}}
                </div>
                <div class="filedWrapper">
                    {{ field.errors }}
                    <h5 class="card-text">Bio</h5>
                    {{ form.bio}}
                </div>

                <input type="submit" value="Update"> 
            </form>
        </div>
    </div>
</div>

{% endblock content %}
